html{
    box-sizing: border-box;
}

body{
    background-color: #fcf8f9;
    font-family: 'Cinzel', sans-serif;
    color: #4F3E41;
}

p{
    font-family: 'Poppins',sans-serif;
    text-align: justify;
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: .75em;
}

::-webkit-scrollbar-track{
    background-color: #ececec;
}

::-webkit-scrollbar-thumb{
    background-color: #d1b3b7;
    border-radius: .6em;
}

#header{
    position: fixed;
    z-index: 998;
    top: 0;
    height: 4em;
    background: #fff;
    box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.12);
}
  
#header .logo img{
    height: 2.1em;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}
  
.navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #424242;
    transition: 0.3s;
}

.navbar a:hover{
    color: #C4939A;
}

.navbar .dropdown ul{
    display: block;
    position: absolute;
    top: 100%;
    z-index: 99;
    opacity: 0;
    background: rgba(255, 255, 255, 0.815);
    box-shadow: 0 0 2em rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: .5em;
}
  
.navbar .dropdown ul a:hover{
    color: #C4939A;
}
  
.navbar .dropdown:hover>ul{
    opacity: 1;
    visibility: visible;
}
  
.mobile-nav-toggle{
    color: #C4939A;
    font-size: 1.8em;
    cursor: pointer;
    display: none;
    transition: 0.5s;
}
  
.mobile-nav-toggle.bi-x{
    color: #fff;
}
  
@media (max-width: 36em){
    .mobile-nav-toggle{
      display: block;
    }
  
    .navbar ul{
      display: none;
    }

    .navbar a{
        padding: .85em;
    }
}
  
.navbar-mobile{
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #3326287c;
    transition: 0.3s;
    z-index: 998;
}
  
.navbar-mobile .mobile-nav-toggle{
    position: absolute;
    top: 1rem;
    right: 2.7rem;
}
  
.navbar-mobile ul{
    display: block;
    position: absolute;
    top: 3.43em;
    right: 1em;
    padding: .62em 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
  
.navbar-mobile li:hover>a{
    color: #C4939A;
}

.navbar-mobile .dropdown ul{
    position: static;
    display: none;
    margin: 1em 1em;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0 0 1.8em rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li:hover>a{
    color: #C4939A;
}
  
.navbar-mobile .dropdown>.dropdown-active{
    display: block;
}

main{
    position: relative;
    margin-top: 4em;
    height: 90vh;
}

.banner{
    background-image: url(imagens/img01.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

@media (max-width: 36em){
    .banner{
        background-position: right;
    }
}

.button{
    font-size: 2em;
}

.button i{
    margin-top: 3em;
    color: #dbbdbe;
}

#quemsou .container, #elasnatech .container, #desafio .container, #conquista .container, #aprendizado .container, #projetos .container, #depoimento .container{
    padding: 4em 1em 0 1em;
}

.titulo{
    position: relative;
    margin-bottom: 2em;
    color: #424242;
}

.titulo h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 3.12rem;
    height: .18rem;
    background: #C4939A;
}

@media (max-width: 36em){
    .sobre_box{
        display: flex;
        justify-content: center;
    }

    .conteudo{
        padding: 0;
        margin-top: 1em;
    }
}

.conteudo h3{
    color: #C4939A;
}

#quemsou .col-md-3, #elasnatech .col-md-3, #desafio .col-md-3, #conquista .col-md-3{
    padding-right: 0;
    padding-left: 0;
}


@media (max-width: 36em){
    #quemsou .col-md-9, #elasnatech .col-md-9, #desafio .col-md-9, #conquista .col-md-9{
        padding: 0;
    }

    #quemsou p, #elasnatech p, #desafio p, #conquista p{
        margin-bottom: 0;
    }

    .display-4{
        font-size: 2.5em;
    }
}

.sobre_box .card-img{
    object-position: center;
    -webkit-filter:grayscale(100%);
}

.sobre_box .card-img:hover{
    -webkit-filter:grayscale(0%);
    transition: 1s;
}

.sobre_box{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1.8em rgba(127, 137, 161, 0.25);
    padding: 1em;
}

.sobre_box{
    margin-left: 0;
    margin-right: 0;
}

.box1{
    padding: 0 0 0 1em;
}

.box2{
    padding: 0 1em 0 0;
}

#aprendizado i{
    font-size: 1.6em;
    line-height: 1;
    color: rgb(206, 148, 148);
}

#aprendizado h4{
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;
    font-size: 1em
}

.carousel{
    box-shadow: .125em .365em .5em 0 rgba(22, 22, 26, 0.18);
}

.card{
    border: none;
}

.card-body{
    padding: 0;
}

#projetos .col-md-4{
    padding-right: 0;
}

#projetos .col-md-8{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.card-img{
    max-height: 19em;
    object-fit: cover;
    object-position: bottom;
}

.carousel-control-prev,
.carousel-control-next{
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    border: none;
}

#projetos .card-text{
    margin-bottom: 0;
    padding-right: 1em;
}

@media (max-width: 36em){
    .carousel-control-prev, .carousel-control-next{ 
        position: absolute;
        top: 7.35em;
    }

    .card-img{
        height: 17em;
        object-position: center;
    }

    .carousel-indicators{
        position: absolute;
        top: 1em;
    }

    #projetos .card-body{
        padding: 1em 1em 0 1em;
    }

    #projetos .card-text{
        padding: 0;
        margin-bottom: 0;
    }

    #projetos .col-md-8{
        padding-top: 0;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0;
    }
}

.card-title{
    color: #C4939A;
}

.card a{
    color: #C4939A;
    border-color: #C4939A;
}

.card a:hover{
    color: #fff;
    border-color: #C4939A;
    background-color: #C4939A;
}

.card a:focus{
    color: #fff;
    border-color: #C4939A;
    background-color: #C4939A;
}

.card-footer{
    background-color: #fff;
    border-top: none;
}

.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: .62em;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.carousel-indicators >li {
    cursor: pointer;
    background-color: #e1e1e1;
    border-radius: 100%;
    width: .5em;
    height: .5em;
}

.carousel-indicators .active {
    background-color: #C4939A;
}

video{
    width: 30em;
    margin-bottom: 1em;
}

@media (max-width: 36em){
    video{
        width: 100%;
    }
}

.col-md-12{
    padding: 0;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

.video .btn{
    background-color: #d4c4c7;
    border-radius: .5em;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: .95em;
}

.video .btn:hover{
    color: #d4c4c7;
    border-color: #d4c4c7;
    background-color: #fff;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

footer{
    background-color: #dac8cb;
}

.redes{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#contato{
    margin-top: 5em;
    background-color:#deced0;
    padding: 1.5em;
}

#contato p{
    margin-bottom: 1em;
}

.copyright{
    margin-bottom: 0;
    color: #f9f6f6;
    font-size: .85em;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
}

.redes i{
    font-size: 1.8em;
    color: #fff;
    padding: 0 1em 0 1em;
}

.redes i:hover{
    color: #4F3E41;
}

.contato-info{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    color: #f9f6f6;
}

.contato-info p{
    padding-bottom: 0;
    margin-bottom: 0;
}
